body{
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 500px;
    height: auto;
}
.header, .hero, .footer {
    background-color: #1F2937;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
  font-size: 24px;
  color: #F9FAF8;
}
.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.small-text{
    font-size: 18px;
    color: #E5E7EB;
}
.bottom{
    background-color: #3882F6;
}
.title-info{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900; 
}
.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
ul {
    text-decoration: none;
    list-style-type: none;
}